.chat-website {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 15px;
  position: relative;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.room-info {
  margin-bottom: 20px;
}

#onlineUsers {
  list-style: none;
  padding: 0;
}

#onlineUsers li {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-input {
  display: flex;
  align-items: center;
}

#usernameInput {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#chat {
  list-style: none;
  padding: 0;
}

#chatInput {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


/* new css for sidebar*/
.getForms {
  position: absolute;
  bottom: 5px;
}
.getForms button {
  margin-bottom: 10px;
}

.loginButton {
  margin-bottom: 10px;
}

.cancelButton {
  text-decoration: none;
  color: #4CAF50;
}

.cancelButton:visited {
  text-decoration: none;
  color: #4CAF50;
}